<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="page-header-title">
          <h5 class="m-b-10">Employee details</h5>
          <p class="m-b-0">Welcome</p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/home"> <i class="fa fa-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">Employee</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="print-section">
  <div class="card" >
    <div class="card-block table-border-style">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="table-success">
             
              <th>Mois</th>
             
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>
                <button
                  printTitle="Fiche de paie"
                  printSectionId="print-section"
                  ngxPrint
                  class="btn btn-round waves-effect waves-light"
                  style="background-color: pink"
                >
                  Imprimer
                </button>
                <button
                  class="btn btn-round waves-effect waves-light"
                  style="background-color: pink"
                >
                  Consulter
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

