<div id="pcoded" class="pcoded" fream-type="theme1">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <app-navbar></app-navbar>
          <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
              <app-sidebar></app-sidebar>
              <div class="pcoded-content" style=" padding-left: 17vw "> 
                         
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
