<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="page-header-title">
          <h5 class="m-b-10">liste des demandes</h5>
          <p class="m-b-0">Welcome</p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/home"> <i class="fa fa-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a href="#!"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h2>Liste des demandes</h2>
    <span> </span>
    <div class="card-header-right">
      <ul class="list-unstyled card-option">
        <li><i class="fa fa fa-wrench open-card-option"></i></li>
        <li><i class="fa fa-window-maximize full-card"></i></li>
        <li><i class="fa fa-minus minimize-card"></i></li>
        <li><i class="fa fa-refresh reload-card"></i></li>
        <li><i class="fa fa-trash close-card"></i></li>
      </ul>
    </div>
  </div>
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type</th>
            <th>Cause</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Etat</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr class="table-warning">
            <th scope="row">1</th>
            <td>hhh</td>
            <td>,,;;</td>
            <td>mfmfm</td>
            <td>jjjj</td>
            <td>sans solde</td>
            <td>en attente</td>

            <td>
              <button
                class="btn waves-effect waves-light btn-success btn-round"
              >
                Accepter
              </button>
              <button class="btn mx-3 waves-effect waves-light btn-danger btn-round">
                Reffuser
              </button>
              <button
                class="btn waves-effect waves-light btn-secondary btn-round"
              >
                Archiver
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
